/** A Sass file that assigns:

The text color #3D3D3D to the HTML tags body and p
The background color #6D6D6D to the HTML tags body and h2
You must use 2 Sass variables **/

$text-color: #3D3D3D;
$bg-color: #6D6D6D;

body{
	color: $text-color;
	background-color: $bg-color;
}

p{
        color: $text-color;
}

h2{
        background-color: $bg-color;
}


