/* A Sass file that assigns:
No margin or padding in body tags
Margin 10px to all of the p tags inside body tags
You must use nested declarations */

body {
	margin: 0px;
	padding: 0px;

}

body{
	p{
		margin: 10px;
	}
}

