/* A Sass file that assigns:
Text color #FF0000 to button tags
When the user hovers over button tags, text color should change to #00FF00
You must use nested declarations */

button{
	color: #FF0000;
}

button:hover{
	color: #00FF00;
}

