/* A Sass file that assigns:
Font size 12px to all tags of class .info
Text color #00FF00 to all tags of class .success and extend style of the class .info
Text color #FF0000 to all tags of class .warning and extend style of the class .info */

.info{
	font-size: 12px;
}

.success{
	color: #00FF00;
	@extend .info;
}

.warning{
	color: #FF0000;
	@extend .info;
}

